@model Editora.WebMvc.Web.Models.ContatoModelView


@{
    ViewBag.Title = "Contato";
}

<h2>Contato</h2>
<br />

@if (ViewBag.Erro != null)
{
    <div class="alert alert-danger">@ViewBag.Erro</div>
}
else if (ViewBag.MensagemEnviada != null)
{
    <div class="alert alert-success">@ViewBag.MensagemEnviada</div>
}

<form action="/Inicio/Contato" method="post">
    <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" id="Nome" name="Nome" placeholder="digite seu nome">
    </div>

    <div class="form-group">
        <label>Assunto</label>
        <input type="text" class="form-control" id="Assunto" name="Assunto" placeholder="digite o assunto">
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" placeholder="Digite seu email">
    </div>

    <div class="form-group">
        <label for="Mensagem">Mensagem</label>
        <textarea class="form-control" rows="3" id="Mensagem" name="Mensagem"></textarea>
    </div>

    <button class="btn btn-primary" id="EnviarContato" value="Enviar">Enviar</button>
</form>

<br />

<h3>Como nos encontrar</h3>
<h3>@ViewBag.Message</h3>
<address>
    avenida Paulista, 1009<br />
    CEP 09700-000<br />
    <abbr title="Fone">F:</abbr>
    (11) 2525-0099
</address>
<address>
    <strong>Suporte:</strong>   <a href="mailto:Support@editoratitan.com">Support@editoratitan.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@editoratitan.com">Marketing@editoratitan.com</a>
</address>
