.imagemInicial {
    width: 100%;
    border-radius: 5px;
}

.alerta {
    padding-top: 5px;
    padding-bottom: 5px;
    color: red;
    font-weight: bold;
}

.imagemForm {
    margin-bottom: 20px;
    width: 500px;
}

h2 {
    margin-bottom: 20px;
}

footer {
    margin-top: 50px;
}

